<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head::head">
<div th:insert="blocks/header::header"></div>
    <style>
        .container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            background-color: #f9f9f9;
        }
    </style>
<main>

    <div class="container">
        <h1>О нас</h1>
        <p>Добро пожаловать в MySRM - ведущую платформу для управления отношениями с поставщиками. Мы являемся ведущим поставщиком инновационных решений в области управления снабжением, и наша цель - помочь компаниям повысить эффективность и результативность взаимодействия с поставщиками.</p>

        <h2>Наша миссия</h2>
        <p>Мы стремимся создать интегрированную и прозрачную систему управления отношениями с поставщиками, которая упрощает процессы снабжения и повышает производительность компаний. Наша миссия заключается в том, чтобы предоставить нашим клиентам мощный инструмент, который способствует оптимизации процессов, улучшению качества поставок и снижению рисков.</p>

        <h2>Преимущества нашей SRM системы</h2>
        <ul>
            <li>
                <strong>Централизованное управление поставщиками:</strong> MySRM предлагает централизованное хранилище информации о поставщиках, контрактах, заказах и других важных данных. Это позволяет эффективно отслеживать и контролировать взаимоотношения с поставщиками.
            </li>
            <li>
                <strong>Автоматизация и оптимизация процессов:</strong> Система MySRM автоматизирует множество рутинных задач, связанных с управлением поставщиками, таких как просмотр и сравнение предложений, управление заказами и отслеживание поставок. Это позволяет сэкономить время и ресурсы, а также повысить эффективность бизнес-процессов.
            </li>
            <li>
                <strong>Аналитика и отчетность:</strong> Наша SRM система предоставляет мощные аналитические инструменты, которые позволяют получать ценную информацию о производительности поставщиков, трендах в закупках и других ключевых аспектах. Это помогает компаниям принимать обоснованные решения на основе фактических данных.
            </li>
            <li>
                <strong>Улучшенное взаимодействие с поставщиками:</strong> MySRM обеспечивает эффективное и прозрачное коммуникацию с поставщиками, позволяя легко обмениваться информацией, задавать вопросы и отслеживать статусы заказов. Это способствует более тесному сотрудничеству и улучшению отношений с поставщиками.
            </li>
        </ul>
    </div>






</main>

    <div th:insert="blocks/footer::footer"></div>

