<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head::head">
  <style>
    .container {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-top: 20px;
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
<div th:insert="blocks/header::header"></div>

<main>
  <div class="container">
    <h1>Станьте нашим партнером</h1>

    <h2>Преимущества партнерства</h2>
    <p>Мы предлагаем уникальные возможности сотрудничества и преимущества нашим партнерам. Вот некоторые из них:</p>

    <ul>
      <li>Расширение клиентской базы: Партнерство позволяет расширить охват клиентов, особенно если у вас и вашего партнера есть схожая, но дополняющаяся клиентская база. Это может помочь в привлечении новых клиентов и увеличении потенциальных продаж.</li>
      <li>Расширение продуктового портфеля: Сотрудничество с партнерами может позволить вам расширить свой продуктовый портфель, предлагая клиентам дополнительные продукты и услуги, которые могут быть востребованы в контексте системы управления взаимоотношениями с клиентами. Это поможет вам стать более полноценным поставщиком решений для ваших клиентов.</li>
      <li>Увеличение конкурентоспособности: Сотрудничество с партнерами может помочь улучшить вашу конкурентоспособность на рынке SRM. Объединение сильных сторон и ресурсов разных компаний может создать более привлекательное предложение для клиентов и позволить вам выделиться среди конкурентов.</li>
      <!-- Добавьте дополнительные преимущества, если необходимо -->
    </ul>

    <h2>Как стать партнером</h2>
    <p>Если вы заинтересованы в партнерстве с нами, пожалуйста, свяжитесь с нами, используя контактные данные ниже:</p>

    <ul>
      <li>Телефон: +X XXX XXX-XXXX</li>
      <li>Email: partners@example.com</li>
    </ul>

    <p>Мы с удовольствием обсудим возможности сотрудничества и ответим на все ваши вопросы.</p>

  </div>
</main>

<div class="container">
  <div th:insert="blocks/footer::footer"></div>
</div>
</body>
</html>