<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head::head">
    <style>
        .container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<div th:insert="blocks/header::header"></div>

<main>
    <div class="container">
        <h1>Пользователю</h1>

        <h2>Добро пожаловать в нашу SRM-систему!</h2>
        <p>Мы рады приветствовать вас в нашем продукте. Ниже вы найдете полезную информацию и руководства, которые помогут вам начать использовать нашу SRM-систему:</p>

        <h3>1. Регистрация и вход</h3>
        <p>Если у вас еще нет учетной записи, перейдите на страницу регистрации и заполните необходимую информацию. Если у вас уже есть учетная запись, вы можете войти, используя свои учетные данные.</p>

        <h3>2. Основные функции</h3>
        <p>Наш продукт предлагает ряд основных функций, которые помогут вам достичь ваших целей. Вот некоторые из них:</p>
        <ul>
            <li> Просмотр каталога поставщиков и возможность совершить заказ.</li>
            <li> Управление контрактами с поставщиками.</li>
            <li> Оценка поставщика методом рейтинговых оценок.</li>
            <li> Связь с поставщиком с помощью чата и т.д..</li>

        </ul>



        <h3>3. Служба поддержки</h3>
        <p>Если у вас возникли проблемы или вам требуется дополнительная помощь, пожалуйста, свяжитесь с нашей службой поддержки. Мы готовы помочь вам с любыми вопросами или проблемами, с которыми вы сталкиваетесь.</p>
    </div>
</main>

<div class="container">
    <div th:insert="blocks/footer::footer"></div>
</div>
</body>
</html>