<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head::head">
    <div th:insert="blocks/header::header"></div>
    <style>
        .container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            background-color: #f9f9f9;
        }
    </style>
    <main>

        <div class="container">
            <h1>Регистрация прошла успешно, необходимо дождаться пока вашу заявку на регистрацию в системе рассмотрят модераторы</h1>
        </div>

    </main>

    <div th:insert="blocks/footer::footer"></div>

